@media screen and (max-width: 768px) {
  .navbar-container .menu-items {
    display: none;
  }

  .navbar-container .navbar-toggler {
    display: block;
  }

  .navbar-container .menu-items.active {
    display: block;
    position: fixed;
    background-color: var(--white);
    top: 0;
    left: 0;
    padding: 20px;
    height: 100%;
    width: 40%;
    animation: slide 2s linear;
  }

  .navbar-container .menu-items.active .cls {
    float: right;
    color: var(--danger);
  }

  .navbar-container .menu-items.active li {
    margin-top: 10px;
  }
  .showcase-container .min-title{
    font-size: 4rem;
    color: var(--primary);
  }
.food-container{
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}  
.food-menu-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.testimonials-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 
}
.contact-container{
  display: flex;
flex-wrap: wrap;
}

.form-container{
width: 100%;
}


}
/* animation */
@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
